<!DOCTYPE html>

<html>
    <head>
      <link rel="stylesheet" href="styles.css">
    </head>
    <body>
	<div class="sheet-page-container">
	    {% for cheat in cheats %}
	    <div class="cheet-container">
		<div class="cheet-header-container">
		    <p class="cheet-title">{{ cheat.name }}</p>
		    <kbd class="cheet-kb">{{ cheat.key }}</kbd>
		</div>
		<div class="cheet-context-container">
		    <p class="cheet-desc">{{ cheat.description }}</p>
		</div>
		<p class="cheet-context">{{ cheat.context }}</p>
		<p class="cheet-note">{{ cheat.note }}</p>
		<ul class="cheet-tag-list">
		    {% for tag in cheat.tags %}
		    <li class="cheet-tag-item">{{ tag }}</li>
		    {% endfor %}
		</ul>
	    </div>
	    {% endfor %}

	</div>
    </body>
</html>
