<!DOCTYPE html>

<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/basic.css')}}">
    </head>
    <body>
	<div class="sheet-page-container">
	    {% for cheet in cheets %}
	    <div class="cheet-container">
		<div class="cheet-header-container">
		    <p class="cheet-title">{{ cheet.name }}</p>
		    <p class="cheet-context">{{ cheet.context }}</p>
		    <kbd class="cheet-kb">{{ cheet.key }}</kbd>
		</div>
		<div class="cheet-desc-container">
		    <p class="cheet-desc">{{ cheet.description }}</p>
		</div>
		<p class="cheet-note">
		    {% if cheet.note %}
		    {{ cheet.note }}
		    {% else %}
		    No notes.
		    {% endif %}
		</p>
		<ul class="cheet-tag-list">
		    <lh class="cheet-tag-list-header">Tags:</lh>
		    {% if cheet.tags %}
		    {% for tag in cheet.tags %}
		    <li class="cheet-tag-item">{{ tag }}</li>
		    {% endfor %}
		    {% endif %}
		</ul>
	    </div>
	    {% endfor %}

	</div>
    </body>
</html>
